<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nnamdi Ngwu</title>
    <link rel="stylesheet" href="static/style.css"> 
</head>
<body>
    <div class="header">
        <img src="img/my_design.png" alt="logo" height=100px>
        <h1>Nnamdi Ngwu</h1>
    </div>
    <h2>Data Science | Software Development | Tech
    </h2>
    
<p>Background picture by <a href=https://unplash.com/@afgprogrammer> Mohammad Rahmani </a></p>
</body>
</html>